html
    head
        body
            h1= title
                h2= 'Season '+ sea.number
                //- each  sea in showData.seasons
                    
                table(style='width:100%', border='1')

                    tr
                        th No.
                        th Title
                        th Director
                    each epi in sea.episodes
                        tr
                            td= epi.number
                            td= epi.title
                            td= epi.director
                        tr
                            td(colspan=3)= epi.synopsis                       